<div class="container">
  <h1>Cadastro de Produtos</h1>
  <form #f="ngForm" (ngSubmit)="salvar()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" name="nome" [(ngModel)]="produto.nome" required>
    </div>
    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <input type="text" class="form-control" name="descricao" [(ngModel)]="produto.descricao" required>
    </div>
    <div class="form-group">
      <label for="preco_venda">Preço venda:</label>
      <input type="text" class="form-control" name="preco_venda" [(ngModel)]="produto.preco_venda" required>
    </div>
    <div class="form-group">
      <label for="preco_custo">Preço custo:</label>
      <input type="text" class="form-control" name="preco_custo" [(ngModel)]="produto.preco_custo" required>
    </div>

    <button type="submit" class="btn btn-success" >Salvar</button>

  </form>
</div>

<hr />
<div class="container-fluid">
  <h2>Listagem</h2>

  <ul>
    <li *ngFor="let p of listagemProdutos">
      {{p.nome}} -  {{p.descricao}}
    </li>
  </ul>
</div>
